Repository hashicorp/vault-helm, pull requests merged in 2025-03, with the labels that each got.

#1094 fix: add pod labels to the server-test.yaml
  templates/tests/server-test.yaml
  test/unit/server-test.bats
Labels: enhancement, vault-server

#1096 Update values.yaml - Move resource documentation to correct section in values.yaml
  values.yaml
Labels: bug, docs

#855 Fix yaml upon empty volumeMounts or volumes
  templates/tests/server-test.yaml
  test/unit/server-test.bats
Labels: bug, vault-server

#1100 Add delete rights to configmaps for agent-injector
  templates/injector-role.yaml
Labels: bug, injector
